.menusection-header {
	top: var(--nav-height, 3.5rem);
	background: #710202;
	color: #fafafa;
	padding: 0.2rem;
}

.menusection-description {
	padding: 0.8em;
	border-bottom: 1px dashed var(--accent-color);
	margin-bottom: 0.6em;
	font-family: "Alice";
	font-style: italic;
	text-align: center;
	background-color: #ddcbb2;
	color: #393939;
}

.food-menuitem {
	display: grid;
	grid-template-areas: "image name name" "image description description" "image offers diets";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 320px 1fr auto;
	grid-gap: 0.6em;
	border: 1px solid currentColor;
	border-radius: 4px;
	padding: 0.4em;
	margin-bottom: 0.4rem;
}

.menuitem-name {
	margin: 0;
	grid-area: name;
}

.menuitem-description {
	grid-area: description;
}

.menuitem-image {
	grid-area: image;
}

.menuitem-offers {
	grid-area: offers;
}

.menuitem-diets {
	grid-area: diets;
}

@media (max-width: 1050px) {
	.food-menuitem {
		grid-template-areas: "name name" "image image" "description description" "offers diets";
		grid-template-rows: auto;
		grid-template-columns: 1fr auto;
		justify-content: center;
	}
	
	.menusection .menusection-header.sticky {
		position: static;
	}
}
