---
---
:root {
	--scrollbar-track: var(--primary-color);
	--scrollbar-color: var(--accent-color);
	--scrollbar-width: thin;
	--map-width: 100%;
}

@media (max-width: 800px) {
	:root {
		--scrollbar-width: auto;
	}
}
