---
layout: default
title: Contact
index: true
permalink: contact/
referrer: no-referrer
pinned: true
description: Contact form for Paradise Cove Lodge
thumbnail:
  url: /img/raster/background/snow-400.jpg
preload:
- href: 'https://cdn.kernvalley.us/components/leaflet/map.html'
  as: fetch
  type: text/html
  crossorigin: anonymous
  referrerPolicy: no-referrer
- href: 'https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
  as: style
  type: text/css
  crossorigin: anonymous
  referrerPolicy: no-referrer
  integrity: sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==
preconnect:
- href: 'https://maps.wikimedia.com'
  crossorigin: anonymous
  referrerPolicy: no-referrer
tags:
  - Paradise Cove Lodge
  - contact
---
<form name="contact" method="POST" class="card shadow" id="contact-form" data-netlify="true">
	<div class="form-group">
		<label for="contact-name" class="input-label required">
			{% include icon.html icon="avatar-default" %}
			<span>Name</span>
		</label>
		<input type="text" name="name" id="contact-name" class="input" autocomplete="name" placeholder="First Last" required="" />
	</div>
	<div class="form-group">
		<label for="contact-email" class="input-label required">
			{% include icon.html icon="mail" %}
			<span>Email</span>
		</label>
		<input type="email" name="email" id="contact-email" class="input" autocomplete="email" placeholder="user@example.com" required="" />
	</div>
	<div class="form-group">
		<label for="contact-phone" class="input-label">
			{% include icon.html icon="call-start" %}
			<span>Phone</span>
		</label>
		<input type="tel" name="phone" id="contact-phone" class="input" autocomplete="telephone" placeholder="555-555-5555" />
	</div>
	<div class="form-group">
		<label for="contact-message" class="input-label required">
			{% include icon.html icon="note" %}
			<span>Message</span>
		</label>
		<textarea name="message" id="contact-message" class="input" placeholder="Enter your message here" required=""></textarea>
	</div>
	<button type="submit" class="btn btn-accept">
		{% include icon.html icon="go-next" %}
		Send
	</button>
</form>
{% include map.html geo=site.data.business.geo hidden=true %}
