---
layout: default
title: Contact and FAQ
index: true
permalink: contact/
referrer: no-referrer
pinned: true
description: Contact form and FAQ for Paradise Cove Lodge
itemtype: "https://schema.org/FAQPage"
thumbnail:
  url: /img/raster/background/snow-400.jpg
tags:
  - Paradise Cove Lodge
  - contact
  - FAQ
  - frequently asked questions
subjects:
- Room Inquiry
- General Community Info
- Special Occasion Reservation
- Vacation Rentals
---
<section id="faq" class="card shadow">
	{% include faq.html faq=site.data.faq %}
</section>
<section id="contact">
	{% include contact-form.html phone=true subject=true method="POST" suggestedSubjects=page.subjects legend="Contact Us" %}
</section>
