---
layout: default
title: Menu
permalink: menu/
pinned: true
index: true
background: restaurant
description: Menu for Paradise Cove Lodge
thumbnail:
  url: "/img/raster/background/restaurant-400.jpg"
preload:
  - href: "/img/raster/background/restaurant-1440.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer
    media: "(min-width: 1441px)"
    importance: high
  - href: "/img/raster/background/restaurant-1280.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer
    media: "((max-width: 1440px) and (min-width: 1281px))"
    importance: high
  - href: "/img/raster/background/restaurant-800.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer
    media: "((min-width: 401px) and (max-width: 800px))"
    importance: high
  - href: "/img/raster/background/restaurant-800.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer
    media: "(max-width: 400px)"
    importance: high
tags:
  - menu
  - paradise cove lodge
  - restaurant
  - lake isabella
  - isabella lake
  - dining
  - steakhouse
  - steak house
---
<div class="menu-container" itemtype="https://schema.org/Restaurant" itemscope="">
	<h3 itemprop="name" hidden="">{{ site.data.restaurant.name }}</h3>
	<div id="menu-accessible-nav" class="visually-hidden flex row space-evenly">
		{% for menusection in site.data.menu %}
			<a href="{{ page.url }}#{{ menusection.identifier }}" class="btn btn-primary">{{ menusection.name }} Menu</a>
		{% endfor %}
	</div>
	<meta itemprop="image" content="{{ site.data.restaurant.image | default: site.data.business.image | absolute_url }}" />
	<meta itemprop="logo" content="{{ site.data.restaurant.logo | default: site.data.business.logo | absolute_url }}" />
	<meta itemprop="url" content="{{ page.url | absolute_url }}">
	<meta itemprop="telephone" content="{{ site.data.restaurant.telephone | default: site.data.business.telephone }}" />
	<meta itemprop="priceRange" content="{{ site.data.restaurant.priceRange | default: '$$$' }}" />
	<meta itemprop="servesCuisine" content="{{ site.data.restaurant.servesCuisine | join: ', ' }}" />
	<meta itemprop="acceptsReservations" content="{{ site.data.restaurant.acceptsReservations | default: 'No' }}" />
	<div hidden="">{% include common/address.html address=site.data.business.address %}</div>
	<div class="status-box info pricing-notice">Prices subject to change.</div>
	<div itemprop="hasMenu" itemtype="https://schema.org/Menu" itemscope="">
		{% for menusection in site.data.menu %}
			{% include menusection.html
				name=menusection.name
				hasMenuItem=menusection.hasMenuItem
				identifier=menusection.identifier
				description=menusection.description
				itemprop="hasMenuSection"
			%}
		{% endfor %}
	</div>
		<a href="tel:{{ site.data.restaurant.telephone | default: site.data.business.telephone }}" title="Call to place Order" role="button" id="order-call-btn" class="btn btn-primary sticky shadow" hidden="">
			{% include common/icon.html icon="call-start" %}
			<span>Order</span>
		</a>
</div>
