---
layout: default
title: Rooms & Rates
pinned: true
permalink: /rooms/
referrer: no-referrer
---
<style>
	.offer-container {
		grid-template-areas: "image offer offer" "image price price" "image . book";
		grid-template-columns: 348px 1fr auto;
		grid-gap: 12px;
		padding: 0;
	}

	.offer-container:not(:last-of-type) {
		margin-bottom: 1.3em;
	}

	@media (max-width: 500px) {
		.offer-container {
			grid-template-areas: "image image image image" ". offer offer ." ". price price ." ". . book .";
			grid-template-columns: 1em 1fr 1fr 1em;
			grid-template-rows: 270px auto;
		}
	}

	.room-image {
		grid-area: image;
		max-height: 348px;
	}

	.room-image > img {
		height: 100%;
	}

	.offer {
		grid-area: offer;
	}

	.room-price {
		grid-area: price;
	}

	.book-button {
		grid-area: book;
		transform: translate(-0.8em, -0.8em);
	}
</style>
<h2 class="center font-title">Rooms &amp; Rates</h2>
{% for offer in site.data.rooms %}
	<div class="card grid shadow offer-container">
		<figure id="image-{{ offer.identifier }}" class="room-image no-margins" itemtype="https://schema.org/ImageObject" itemprop="photo image" itemscope="">
			<img class="fit-cover" itemprop="url" src="{{ offer.itemOffered.photo.url }}" decoding="async" loading="lazy" alt="Room Image" height="180" />
		</figure>
		<div id="{{ offer.identifier }}" class="offer" itemtype="https://schema.org/Offer" itemref="price-specification-{{ offer.identifier }}" itemscope="">
			<div id="item-offered-{{ offer.identifier }}" class="room" itemprop="itemOffered" itemtype="https://schema.org/HotelRoom" itemref="image-{{ offer.identifier }}" itemscope="">
				<h3 class="room-name clearfix" itemprop="name">
					<span itemprop="name">{{ offer.name }}</span>
					<span class="float-right">(Sleeps <span itemprop="occupancy">{{ offer.itemOffered.occupancy }}</span>)</span>
				</h3>
				<meta itemprop="petsAllowed" content="{{ offer.itemOffered.petsAllowed }}" />
				<meta itemprop="smokingAllowed" content="{{ offer.itemOffered.smokingAllowed }}" />
				<meta itemprop="numberOfRooms" content="{{ offer.itemOffered.numberOfRooms }}" />
				<span itemprop="floorSize" itemtype="https://schema.org/QuantitativeValue" itemscope="">
					<meta itemprop="value" content="{{ offer.itemOffered.floorSize.value }}" />
					<meta itemprop="unitCode" content="{{ offer.itemOffered.floorSize.unitCode }}" />
					{% if offer.itemOffered.floorSize.unitText %}<span itemprop="unitText">{{ offer.itemOffered.floorSize.unitText }}</span>{% endif %}
				</span>
				{% if offer.itemOffered.description %}<div itemprop="description" class="room-description">{{ offer.itemOffered.description }}</div>{% endif %}
				<div itemprop="bed" itemtype="https://schema.org/BedDetails" itemscope="" hidden="">
					<meta itemprop="numberOfBeds" content="{{ offer.itemOffered.bed.numberOfBeds }}" />
					<meta itemprop="typeOfBed" content="{{ offer.itemOffered.bed.typeOfBed }}" />
					{% if offer.itemOffered.bed.description %}<p itemprop="description">{{ offer.itemOffered.bed.description }}</p>{% endif %}
				</div>
				<span class="room-details overflow-visible">
					<details>
						<summary>More Info</summary>
						<!-- <pre class="card background-primary"><code>{{ offer | jsonify }}</code></pre> -->
					</details>
				</span>
			</div>
			<div itemprop="inventoryLevel" itemtype="https://schema.org/QuantitativeValue" itemscope="" hidden="">
				<meta itemprop="value" content="{{ offer.inventoryLevel.value }}" />
			</div>
		</div>
		<div id="price-specification-{{ offer.identifier }}" class="room-price" itemprop="priceSpecification" itemtype="https://schema.org/PriceSpecification" itemscope="">
			<meta itemprop="price" id="price-{{ offer.identifier }}" content="{{ offer.priceSpecification.price }}" />
			<meta itemprop="priceCurrency" id="price-currency-{{ offer.identifier }}" content="{{ offer.priceSpecification.priceCurrency }}" />
			<span itemprop="description" id="price-description-{{ offer.identifier }}">{{ offer.priceSpecification.description }}</span>
		</div>
		<a id="book-{{ offer.identifier }}" href="{{ offer.url }}" role="button" rel="noopener external" class="btn btn-primary btn-wide book-button">
			{% include icon.html icon="link-external" %}
			<span>Book Now</span>
		</a>
	</div>
{% endfor %}
