---
layout: default
title: Rooms & Rates
index: true
permalink: /rooms/
background: motel
pinned: true
referrer: no-referrer
description: Rooms available starting at $85 / night
thumbnail:
  url: /img/raster/background/motel-400.jpg
preload:
  - href: "/img/raster/background/rooms-1440.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer-when-downgrade
    media: "(min-width: 1441px)"
    importance: high
  - href: "/img/raster/background/rooms-1280.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer-when-downgrade
    media: "((max-width: 1440px) and (min-width: 1281px))"
    importance: high
  - href: "/img/raster/background/rooms-800.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer-when-downgrade
    media: "((min-width: 401px) and (max-width: 800px))"
    importance: high
  - href: "/img/raster/background/rooms-800.jpg"
    as: image
    type: image/jpeg
    referrerPolicy: no-referrer-when-downgrade
    media: "(max-width: 400px)"
    importance: high
tags:
  - motel
  - hotel
  - room
  - lodge
---
<h2 class="center font-title">{{ page.title }}</h2>
<div id="motel-container" itemprop="offeredBy" itemtype="https://schema.org/Motel" itemscope="">
	<h3 itemprop="name" hidden="">{{ site.data.motel.name }}</h3>
	<meta itemprop="image" content="{{ site.data.motel.image | absolute_url }}" />
	<meta itemprop="telephone" content="{{ site.data.motel.telephone | default: site.data.business.telephone | replace: '+1-', '' }}" />
	<meta itemprop="petsAllowed" content="{{ site.data.motel.petsAllowed | default: 'No' }}" />
	<meta itemprop="checkinTime" content="{{ site.data.motel.checkinTime }}" />
	<meta itemprop="checkoutTime" content="{{ site.data.motel.checkoutTime }}" />
	<meta itemprop="numberOfRooms" content="{{ site.data.motel.numberOfRooms }}" />
	<meta itemprop="priceRange" content="{{ site.data.motel.priceRange | default: site.data.business.priceRange }}" />
	<p class="rooms-desc status-box info" itemprop="description">
		All of our rooms  share a community front porch and have great lake views. There
		is a community lounge area.  The rooms have flat screen TV's with satellite
		TV and HBO.  Coffee makers and mini-refrigerators are in every room. Heating
		& air-conditioning units and free Wi-Fi.
		<br />
		<strong>Plenty of free parking for boats or work trucks and equipment.</strong>
	</p>
	<div hidden="">{% include address.html address=site.data.business.address %}</div>
	{% for offer in site.data.rooms %}
		{% include room.html offer=offer %}
	{% endfor %}
	<div class="status-box warn">
		Cancellations made less than two (2) days prior to the arrival date will incur a one night charge.
		<br />
		Reservation must be guaranteed by a valid major credit card at the time of booking. Card will not be charged until time of arrival.
		<ul>
			<li>Check in time is <b>2 PM until 10 PM</b>.<br />If you will arrive after 10 PM please call us to make arrangements for early or late check-in. 760-379-2719</li>

		</ul>
	</div>
</div>
