<footer id="footer">
	<div class="social-links" data-cols="auto">
		{% if site.data.footer.social %}
			<h3>Find us on&hellip;</h3>
			<div class="social-links">
				{% for link in site.data.footer.social %}
					<a href="{{ link.url }}" class="social-link inline-block center" rel="noopener external">
						{% include icon.html icon=link.icon class="social-icon" height="48" %}
						<br />
						<span class="social-label link-text">{{ link.label }}</span>
					</a>
				{% endfor %}
			</div>
			<hr />
		{% endif %}
		{% if site.data.address.telephone %}
			<a class="footer-link inline-block" href="tel:{{ site.data.address.telephone }}">
				{% include icon.html icon="call-start" %}
				<span class="link-text underline">{{ site.data.address.telephone | replace: '+1-', ''}}</span>
			</a>
		{% endif %}
		{% if site.data.address.url %}
			<a class="footer-link inline-block" href="{{ site.data.address.url }}" rel="noopener external">
				{% include icon.html icon="map" %}
				<span class="link-text underline">Directions</span>
			</a>
		{% endif %}
		{% if site.repository %}
			<a class="footer-link inline-block" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}/issues" target="_blank" rel="external noopener">
				{% include icon.html icon="issue-opened" %}
				<span class="link-text underline">Report a Problem</span>
			</a>
		{% endif %}
	</div>
	<hr />
	<div class="copyright">
		<span>&copy;</span>
		<time itemprop="copyrightYear">{{ 'now' | date: '%Y' }}</time>
		<span itemprop="copyrightHolder" itemtype="https://schema.org/LocalBusiness" itemscope="">
			<a href="https://www.paradisecovelodge.com" target="_blank" rel="external noopener" itemprop="url">
				<span itemprop="name">Paradise Cove Lodge</span>
			</a>
		</span>
	</div>
</footer>
