<footer id="footer" class="content-visibility-auto">
	<div class="social-links" data-cols="auto" role="list" aria-label="Our Social Link">
		{% if site.data.social %}
			<h3 id="social-links-label" role="none">Find us on&hellip;</h3>
			{% if site.data.social.facebook %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.facebook }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include common/icon.html icon="facebook" class="social-icon" fill="currentColor" width="48" height="48" %}
						<br />
						<span class="social-label link-text">Facebook</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.twitter %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.twitter }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include common/icon.html icon="twitter" class="social-icon" fill="currentColor" width="48" height="48" %}
						<br />
						<span class="social-label link-text">Twitter</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.instagram %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.instagram }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						<img src="https://cdn.kernvalley.us/img/logos/instagram.svg" class="social-icon" width="48" height="48" loading="lazy" decoding="async" crossorigin="anonymous" referrerpolicy="no-referrer" alt="" />
						<br />
						<span class="social-label link-text">Instagram</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.linkedIn %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.linkedIn }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include common/icon.html icon="linkedin" class="social-icon" height="48" width="48" %}
						<br />
						<span class="social-label link-text">LinkedIn</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.youtube %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.youtube }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include common/icon.html icon="youtube" class="social-icon" height="48" width="48"%}
						<br />
						<span class="social-label link-text">YouTube</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.yelp %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.yelp }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include common/icon.html icon="yelp" class="social-icon" height="48" width="48" %}
						<br />
						<span class="social-label link-text">Yelp</span>
					</a>
				</span>
			{% endif %}{% if site.data.social.tripAdvisor %}
				<span role="listitem">
					<a class="social-link inline-block center color-inherit" href="{{ site.data.social.tripAdvisor }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						<br />
						{% include common/icon.html icon="tripadvisor" class="social-icon" height="48" width="48" %}
						<br />
						<span class="social-label link-text">TripAdvisor</span>
					</a>
				</span>
			{% endif %}
			<hr role="none" />
		{% endif %}
		{% for link in site.data.links.footer %}
			<span role="listitem">
				<a href="{{ link.href }}" class="footer-link inline-block color-inherit" rel="{{ link.rel | join: ' ' }}">
					{% if link.icon %}
						{% include common/icon.html icon=link.icon fill="currentColor" height="48" width="48" %}
					{% endif %}
					<span class="link-text underline">{{ link.label }}</span>
				</a>
			</span>
		{% endfor %}
	</div>
	<hr />
	<div class="copyright ">
		<span>&copy;</span>
		<time itemprop="copyrightYear">{{ 'now' | date: '%Y' }}</time>
		<span itemprop="copyrightHolder" itemtype="https://schema.org/{{ site.data.business.type | default: 'LocalBusiness' }}" itemscope="">
			<meta itemprop="telephone" content="{{ site.data.business.telephone }}" />
			<meta itemprop="priceRange" content="{{ site.data.business.priceRange }}" />
			<a href="{{ site.data.business.url | default: site.url | absolute_url }}" target="_blank" rel="external noopener" class="color-inherit" itemprop="url">
				<span itemprop="name">{{ site.data.business.name }}</span>
				<meta itemprop="image" content="{{ site.data.business.image }}" />
				<meta itemprop="logo" content="{{ site.data.business.logo }}" />
			</a>
			{% include common/address.html address=site.data.business.address %}
		</span>
	</div>
	{% assign apps=site.data.apps.related_applications | where_exp: 'platfrom', 'platform != "webapp"' %}
	{% if apps %}
		<hr />
		<app-list id="app-stores" class="flex row space-evenly app-stores"></app-list>
	{% endif %}
	<hr />
	<div class="site-author flex row wrap space-evenly">
		<github-user user="{{ site.repository.username }}" loading="lazy">
			<h3 slot="header">
				<span>Created by Chris Zuber</span>
			</h3>
			<h4><a href="https://kernvalley.us" rel="noopener noreferrer external">KernValley.US</a></h4>
		</github-user>
		{% if site.keep-kern-clean %}{% include common/keep-kern-clean.html %}{% endif %}
	</div>
</footer>
