<footer id="footer">
	<div class="social-links content-visibility-auto" data-cols="auto">
		{% if site.data.footer.social %}
			<h3>Find us on&hellip;</h3>
			<div class="social-links">
				{% for link in site.data.footer.social %}
					<a href="{{ link.url }}" class="social-link inline-block center color-inherit" rel="noopener external">
						{% include icon.html icon=link.icon class="social-icon" height="48" %}
						<br />
						<span class="social-label link-text">{{ link.label }}</span>
					</a>
				{% endfor %}
			</div>
			<hr />
		{% endif %}
		{% if site.data.business.telephone %}
			<a class="footer-link inline-block color-inherit" href="tel:{{ site.data.business.telephone }}">
				{% include icon.html icon="call-start" %}
				<span class="link-text underline">{{ site.data.business.telephone | replace: '+1-', '' }}</span>
			</a>
		{% endif %}
		{% if site.data.business.email %}
			<a class="footer-link inline-block color-inherit" href="mailto:{{ site.data.business.email }}">
				{% include icon.html icon="mail" %}
				<span class="link-text underline">{{ site.data.business.email }}</span>
			</a>
		{% endif %}
		{% if site.data.business.address.url %}
			<a class="footer-link inline-block color-inherit" href="{{ site.data.business.address.url }}" rel="noopener external">
				{% include icon.html icon="map" %}
				<span class="link-text underline">Directions</span>
			</a>
		{% endif %}
		{% if site.repository %}
			<a class="footer-link inline-block color-inherit" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}/issues" target="_blank" rel="external noopener">
				{% include icon.html icon="issue-opened" %}
				<span class="link-text underline">Report a Problem</span>
			</a>
		{% endif %}
	</div>
	{% if site.service_worker %}
		<button is="pwa-install" class="btn btn-primary btn-big btn-wide content-visibility-auto" src="{{ site.service_worker }}" scope="/" title="Install Web App" reloadonupdate="">
			<svg class="icon current-color" role="img" aria-hidden="true">
				<use xlink:href="/img/icons.svg#system-software-install"></use>
			</svg>
			<span>Install</span>
		</button>
	{% endif %}
	<hr />
	<div class="copyright content-visibility-auto">
		<span>&copy;</span>
		<time itemprop="copyrightYear">{{ 'now' | date: '%Y' }}</time>
		<span itemprop="copyrightHolder" itemtype="https://schema.org/{{ site.data.business.type | default: 'LocalBusiness' }}" itemscope="">
			<meta itemprop="telephone" content="{{ site.data.business.telephone }}" />
			<meta itemprop="priceRange" content="{{ site.data.business.priceRange }}" />
			<a href="{{ site.data.business.url | default: site.url | absolute_url }}" target="_blank" rel="external noopener"class="color-inherit" itemprop="url">
				<span itemprop="name">{{ site.data.business.name }}</span>
				<meta itemprop="image" content="{{ site.data.business.image }}" />
				<meta itemprop="logo" content="{{ site.data.business.logo }}" />
			</a>
			{% include address.html address=site.data.business.address %}
		</span>
	</div>
	<hr />
	<div class="site-author">
		<github-user user="{{ site.repository.username }}" loading="lazy" class="content-visibility-auto">
			<h3 slot="header">
				<span>Created by Chris Zuber</span>
			</h3>
			<h4><a href="https://kernvalley.us" rel="noopener external">KernValley.US</a></h4>
		</github-user>
		{% include keep-kern-clean.html %}
	</div>
</footer>
