<leaflet-map center="{{ include.address.geo.latitude }},{{ include.address.geo.longitude }}" zoom="13" minzoom="13" maxzoom="15" crossorigin="annonymous" zoomcontrol="" detectretina="" aria-hidden="true">
	<leaflet-marker latitude="{{ include.address.geo.latitude }}" longitude="{{ include.address.geo.longitude }}" open="">
		{% if include.address.url %}
			<a href="{{ include.address.url }}" rel="noopener external" slot="popup">
				{% include icon.html icon="link-external" height="16" width="16" %}
				<span>{{ include.address.name }}</span>
			</a>
		{% else %}
			<div slot="popup">{{ include.address.name }}</div>
		{% endif %}
		<img slot="icon" src="/img/adwaita-icons/actions/mark-location.svg" width="32" height="32" decoding="async" loading="lazy" />
	</leaflet-marker>
</leaflet-map>
