<div {% if include.identifier %}id="{{ include.identifier }}" {% endif %}class="food-menuitem" itemtype="https://schema.org/MenuItem" itemprop="{{ include.itemprop | default: 'hasMenuItem' }}" itemscope="">
	{% if include.image %}
		<!-- TODO: Convert to responsive images via `url` & `width` -->
		{% for image in include.image %}
			<span class="inline-block center menuitem-image">
				<img class="menuitem-image" src="{{ image.url }}" decoding="async" loading="lazy" itemprop="image" alt="{{ include.name }}" width="{{ image.width }}" height="{{ image.height }}" />
			</span>
		{% endfor %}
	{% else %}
		<span class="inline-block center menuitem-image">
			<svg class="current-color menuitem-image-default" width="213" height="213" viewBox="0 0 24 24" aria-hidden="true">
				<path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z" />
			</svg>
		</span>
	{% endif %}
	<h2 class="menuitem-name center" itemprop="name">{{ include.name }}</h2>
	<p class="menuitem-description" itemprop="description">{{ include.description }}</p>
	<div class="menuitem-offers">
		{% if include.offers %}
			{% for offer in include.offers %}
				<div class="menuitem-offer" itemprop="offers" itemtype="https://schema.org/Offer" itemscope="">
					{% if offer.name %}<b itemprop="name">{{ offer.name }}</b>{% endif %}
					{% if offer.priceSpecification %}
						{% for spec in offer.priceSpecification %}
							<div class="offer-price-spec" itemprop="priceSpecification" itemtype="https://schema.org/PriceSpecification" itemscope="">
								{% if spec.name %}<b itemprop="name">{{ spec.name }}</b>{% endif %}
								$<span itemprop="minPrice" class="menuitem-offer-price min-price">{{ spec.minPrice }}</span>
								<span>&mdash;</span>
								$<span itemprop="maxPrice" class="menuitem-offer-price max-price">{{ spec.maxPrice }}</span>
								{% if spec.description %}<i itemprop="description">{{ spec.description }}</i>{% endif %}
								<meta itemprop="priceCurrency" content="{{ offer.priceCurrency | default: 'USD' }}" />
							</div>
						{% endfor %}
					{% endif %}
					{% if offer.price %}$<span itemprop="price" class="menuitem-offer-price">{{ offer.price }}</span>{% endif %}
					{% if offer.description %}<i itemprop="description">{{ offer.description }}</i>{% endif %}
					<meta itemprop="priceCurrency" content="{{ offer.priceCurrency | default: 'USD' }}" />
				</div>
			{% endfor %}
		{% endif %}
	</div>
	{% if include.suitableForDiet %}
		<div class="menuitem-diets clearfix">
			{% for diet in include.suitableForDiet %}
				<link itemprop="suitableForDiet" href="https://schema.org/{{ diet }}" />
				{% case diet %}
					{% when 'VegetarianDiet' %}
						<span title="Vegetarian" class="float-right">
							{% include icon.html icon="vegetable" %}
						</span>
				{% endcase %}
			{% endfor %}
		</div>
	{% endif %}
</div>
