<div class="card grid shadow offer-container" itemtype="https://schema.org/Offer" itemscope="" itemref="motel-container">
	<figure id="image-{{ include.offer.identifier }}" class="room-image no-margins" itemtype="https://schema.org/ImageObject" itemprop="photo image" itemscope="">
		<img class="fit-cover" itemprop="url" src="{{ include.offer.itemOffered.photo.url }}" alt="Room image" decoding="async" loading="lazy" alt="Room Image" height="180" />
	</figure>
	<div id="{{ include.offer.identifier }}" class="offer" itemtype="https://schema.org/Offer" itemref="price-specification-{{ include.offer.identifier }}" itemscope="">
		<div id="item-offered-{{ include.offer.identifier }}" class="room" itemprop="itemOffered" itemtype="https://schema.org/HotelRoom" itemref="image-{{ include.offer.identifier }}" itemscope="">
			<h3 class="room-name clearfix">
				<span itemprop="name">{{ include.offer.name }}</span>
				<span class="float-right inline-block center room-amenities-container">
					{% for amenity in include.offer.itemOffered.amenityFeature %}
						<span class="room-amenity" title="{{ amenity.name }}: {{ amenity.value }}" itemprop="amenityFeature" itemtype="https://schema.org/LocationFeatureSpecification" itemscope="">
							<meta itemprop="name" content="{{ amenity.name }}" />
							<meta itemprop="value" content="{{ amenity.value }}"/>
							{% if amenity.image %}{% include icon.html icon=amenity.image %}{% endif %}
						</span>
					{% endfor %}
					{% if include.offer.itemOffered.smokingAllowed %}
						<meta itemprop="smokingAllowed" content="{{ include.offer.itemOffered.smokingAllowed }}" />
						<span class="smoking-{{ include.offer.itemOffered.smokingAllowed | downcase }}" title="Smoking: {{ include.offer.itemOffered.smokingAllowed }}">
							{% if include.offer.itemOffered.smokingAllowed == 'Yes' %}
								{% include icon.html icon="smoking" %}
							{% else %}
								{% include icon.html icon="no-smoking" %}
							{% endif %}
						</span>
					{% endif %}
					{% if include.offer.itemOffered.petsAllowed %}
						<meta itemprop="petsAllowed" content="{{ include.offer.itemOffered.petsAllowed }}" />
						<span class="pets-{{ include.offer.itemOffered.petsAllowed | downcase }}" title="Pets Allowed: {{ include.offer.itemOffered.petsAllowed }}">
							{% if include.offer.itemOffered.petsAllowed == 'Yes' %}
								{% include icon.html icon="pets" %}
							{% else %}
								{% include icon.html icon="no-pets" %}
							{% endif %}
						</span>
					{% endif %}
					<br />
					<span class="float-right">Sleeps <span itemprop="occupancy">{{ include.offer.itemOffered.occupancy }}</span></span>
				</span>
			</h3>
			<meta itemprop="numberOfRooms" content="{{ include.offer.itemOffered.numberOfRooms }}" />
			<span itemprop="floorSize" itemtype="https://schema.org/QuantitativeValue" itemscope="">
				<meta itemprop="value" content="{{ include.offer.itemOffered.floorSize.value }}" />
				<meta itemprop="unitCode" content="{{ include.offer.itemOffered.floorSize.unitCode }}" />
				{% if offer.itemOffered.floorSize.unitText %}<span itemprop="unitText">{{ include.offer.itemOffered.floorSize.unitText }}</span>{% endif %}
			</span>
			{% if offer.itemOffered.description %}<div itemprop="description" class="room-description">{{ include.offer.itemOffered.description }}</div>{% endif %}
			<div itemprop="bed" itemtype="https://schema.org/BedDetails" itemscope="" hidden="">
				<meta itemprop="numberOfBeds" content="{{ include.offer.itemOffered.bed.numberOfBeds }}" />
				<meta itemprop="typeOfBed" content="{{ include.offer.itemOffered.bed.typeOfBed }}" />
				{% if offer.itemOffered.bed.description %}<p itemprop="description">{{ include.offer.itemOffered.bed.description }}</p>{% endif %}
			</div>
		</div>
		<div itemprop="inventoryLevel" itemtype="https://schema.org/QuantitativeValue" itemscope="" hidden="">
			<meta itemprop="value" content="{{ include.offer.inventoryLevel.value }}" />
		</div>
	</div>
	<div id="price-specification-{{ include.offer.identifier }}" class="room-price" itemprop="priceSpecification" itemtype="https://schema.org/PriceSpecification" itemscope="">
		<meta itemprop="price" id="price-{{ include.offer.identifier }}" content="{{ include.offer.priceSpecification.price }}" />
		<meta itemprop="priceCurrency" id="price-currency-{{ include.offer.identifier }}" content="{{ include.offer.priceSpecification.priceCurrency }}" />
		<span itemprop="description" id="price-description-{{ include.offer.identifier }}">{{ include.offer.priceSpecification.description }}</span>
	</div>
	<a id="book-{{ include.offer.identifier }}" href="{{ include.offer.url }}" role="button" rel="noopener external" class="btn btn-primary btn-wide book-button">
		{% include icon.html icon="link-external" %}
		<span>Book Now</span>
	</a>
</div>
