<aside id="sidebar">
	{% if site.data.api.OpenWeatherMap %}
		{% include weather.html appId=site.data.api.OpenWeatherMap postalCode=site.data.business.address.postalCode theme="auto" %}
	{% endif %}
	{% for item in site.data.sidebar %}
		<div class="ad-block card shadow content-visibility-auto" itemtype="https://schema.org/WPAdBlock" itemscope="">
			<div class="center ad-image-container" itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
				<img class="ad-image" src="{{ item.image.url }}" height="{{ item.image.height }}" width="{{ item.image.width }}" alt="{{ item.image.name }}" decoding="async" loading="lazy" itemprop="url" />
			</div>
			<h4 class="center ad-label" itemprop="name">{{ item.name }}</h4>
			<div class="ad-description" itemprop="description">{{ item.description }}</div>
		</div>
	{% endfor %}
	{% if page.ads.sidebar %}{% for ad in page.ads.sidebar %}{% include ad.html
                id=ad.uuid
                label=ad.label
                image=ad.image
                description=ad.description
                url=ad.url
                callToAction=ad.callToAction
                theme=ad.theme
                layout=ad.layout
                imageFit=ad.imageFit
                imagePosition=ad.imagePosition
                classList=ad.classList
                campaign=ad.campaign
                content='sidebar-ad'
                loading="lazy"
                media=ad.media
        %}{% endfor %}{% else %}{% for ad in site.data.ads.sidebar %}{% include ad.html
                id=ad.uuid
                label=ad.label
                image=ad.image
                description=ad.description
                url=ad.url
                callToAction=ad.callToAction
                theme=ad.theme
                layout=ad.layout
                imageFit=ad.imageFit
                imagePosition=ad.imagePosition
                classList=ad.classList
                campaign=ad.campaign
                content='sidebar-ad'
                loading="lazy"
                media=ad.media
        %}{% endfor %}{% endif %}

</aside>
