<aside id="sidebar">
	{% if site.data.api.OpenWeatherMap %}
		{% include common/weather.html appId=site.data.api.OpenWeatherMap postalCode=site.data.business.address.postalCode theme="auto" %}
	{% endif %}
	{% for item in site.data.sidebar %}
		<div class="ad-block card shadow content-visibility-auto" itemtype="https://schema.org/WPAdBlock" itemscope="">
			<div class="center ad-image-container" itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
				<img class="ad-image" src="{{ item.image.url }}" height="{{ item.image.height }}" width="{{ item.image.width }}" alt="{{ item.image.name }}" decoding="async" loading="lazy" itemprop="url" />
			</div>
			<div class="center ad-label" itemprop="name">{{ item.name }}</div>
			<div class="ad-description" itemprop="description">{{ item.description }}</div>
		</div>
	{% endfor %}
	<krv-events class="card shadow content-visibility-auto" source="paradise-cove-lodge" content="sidebar"></krv-events>
	{% if page.ads.sidebar %}{% for ad in page.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% else %}{% for ad in site.data.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% endif %}

</aside>
